<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyh.dao.PromotionSpaceMapper">

    <!--广告位列表查询-->
    <select id="findAllPromotionSpace" resultType="com.lyh.domain.PromotionSpace">
        select * from promotion_space
    </select>

    <!--新增广告位-->
    <insert id="svaePromotionSpace" parameterType="com.lyh.domain.PromotionSpace">
        insert into
            promotion_space
        values(null,#{name},#{spaceKey},#{createTime},#{updateTime},#{isDel})
    </insert>

    <!--根据id 查询广告位-->
    <select id="findPromotionSpaceById" parameterType="int" resultType="com.lyh.domain.PromotionSpace">
        select id,name from promotion_space where id = #{id}
    </select>

    <!--修改广告位信息-->
    <update id="updatePromotionSpace" parameterType="com.lyh.domain.PromotionSpace">
        UPDATE promotion_space SET NAME = #{name},updateTime = #{updateTime}
        where id = #{id}
    </update>
</mapper>